.header {
	max-width: 80rem;
	margin: 0 auto;

	display: flex;
	justify-content: space-between;
}

.logo {
	height: 4rem;
}

.links {
	display: flex;
	align-items: center;
	gap: 2rem;

	a {
		color: #7f75aa;
		font-weight: 600;
		text-decoration: none;
		transition: linear 0.25s;
	}

	a:hover {
		color: #010363;
	}

	.enroll {
		color: #125e85;
	}
}
